<div class="row">
  <div class="small-8 columns">
    <!-- MAIN CONTENT GOES HERE -->
    <%= render :partial => "camp_details" %>
    <br><br>
    <% if can? :manage, :all %>
      <div class="small-8 columns">
        <%= render partial: 'camp_finances' %>
      </div>
    <% end %>
  </div>


  <div class="small-4 columns">
    <!-- SIDEBAR CONTENT GOES HERE -->
    <%= render partial: 'camp_instructors' %>
    <%= render partial: 'registrations' %>
  </div>
</div>

