<h3>Instructor Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @instructor.proper_name %><br /><br />

<strong>Biography</strong><br />
  <%= @instructor.bio.nil? ? "N/A" : @instructor.bio %><br /><br />

<strong>Picture</strong>
<!-- Need to add in headshot of instructor -->
