<div class='row'>
  <div class='large-12 columns'>
    <br>
    <center><h4> Revenue per Camp </h4>
      <h6><%= "Total Revenue: $" + @camp_revenues.sum.to_s%></h6>


    </center>
    <br>
    <%= column_chart @camp_to_revenues, library: {backgroundColor: "#E6E6E6", colors: ['09e823']}   %>
  </div>
</div>


<div class='row'>

  <div class='large-12 columns'>
    <br>
    <center><h4>Accounts Receivable per Camp</h4>
      <h6><%= "Total Accounts Receivable: $" + @camp_accounts_receivable.sum.to_s %></h6>
    </center>
    <br>


    <%= column_chart @camp_to_ar, library: {backgroundColor: "#E6E6E6", colors: ['de302a']}   %>



  </div>
</div>