<h2>About the A &amp; M Chess Camps</h2>

<div class='row'>
	<div class='large-12 columns'>
		<%= image_tag 'BoysPlaying2.jpg' %>
		<p class="supertiny">&nbsp;</p>
		<div class="large-8 columns">
		<p> 
		  Alex and Mark love chess! For a limited time, the two have joined forces to help kids of all ages hone their skills. This is the opportunity of a lifetime! After attending an A&M Chess camp your son or daughter will be one step closer to realizing his or her full potential. So, what are you waiting for?
		</p>
		</div>
	</div>
</div>