<h2>Contact A &amp; M Chess Camps</h2>

<p> <%= image_tag 'Kelsey1.jpg', class: "left", width: 150 %>
For the time being, we are only accepting registrations via email or phone. We hope to add shopping cart functionality to the site soon in order to better serve your needs! When registering, please include the following information: Camp, Location, Date, Student Name, Student Date of Birth, Student First & Last Name, Rating, Parent name, Family name, Parent email, and Parent phone number. 
</p>

<table cellpadding="3" class="table">
  <tr>
    <td>Ways to Contact Us</td>
  </tr>
  <tr>
    <td>Email:</td>
    <td>
    <%= mail_to("profh@cmu.edu", "A&M Camps", encode: "javascript") %> 
    </td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td>412-268-8211</td>
  </tr>
</table>

