<h2>The A &amp; M Camps Privacy Policy</h2>

<p>
  Alex & Mark highly value your privacy and peace of mind. We have secured our web application with military-grade security so that no unauthorized user can access your data - or your son or daughter's. Any personal data entered into A&M's system will remain there.
  <br>
  <br>
</p>

<p>  If you have any further questions, do not hesitate to contact us.   <br><br></p>